@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#sidebar{

    position: absolute;
}

#maincontent{
    padding-top: 5%;
    position: relative;
    padding-left: 20%;
}

.stickyfooter{
    width: 100%;
    position: fixed;
    text-align: center;
}

.upload{
    cursor: pointer;
}